@keyframes animation1{
    0%{ background-color: royalblue;}
    25%{ background-color: aqua;}
    50%{ background-color: aquamarine;}   
    100%{ background-color: cyan;}
}

div{
    width: 100px;
    height: 100px;
    animation-name: animation1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}